<div class='mod modIconText moveup' data-delay='0'>
  <div class='icon-text-advanced' data-bg="{{ include.service.bg | relative_url }}">
    <div class='wrapper'>
      <div class='content'>
        <i class='{{ include.service.icon }}'></i>
      </div>
    </div>
    <h3><a href="{{include.service.url}}">{{ include.service.title | escape }}</a></h3>
    <p>{{ include.service.desc | escape }}</p>
    <div class="spacing"></div>
  </div>
</div>
